infrastructure/terraform/environments/dev/workflow.json
{
    "Comment": "Agile Story Analysis Workflow",
    "StartAt": "AnalyzeStory",
    "States": {
      "AnalyzeStory": {
        "Type": "Task",
        "Resource": "${analyze_story_lambda_arn}",
        "Next": "WaitForAnalysis",
        "ResultPath": "$.analysis"
      },
      "WaitForAnalysis": {
        "Type": "Wait",
        "Next": "UpdateAnalysisState",
        "WaitForTaskToken": true,
        "ResultPath": "$.analysisResult"
      },
      "UpdateAnalysisState": {
        "Type": "Task",
        "Resource": "${story_state_handler_arn}",
        "Next": "TechnicalReview",
        "Parameters": {
          "status": "ANALYSIS_COMPLETE",
          "token.$": "$.token",
          "result.$": "$.analysisResult"
        }
      },
      "TechnicalReview": {
        "Type": "Task",
        "Resource": "${technical_review_lambda_arn}",
        "Next": "WaitForTechnicalReview",
        "ResultPath": "$.technicalReview"
      },
      "WaitForTechnicalReview": {
        "Type": "Wait",
        "Next": "UpdateTechnicalReviewState",
        "WaitForTaskToken": true,
        "ResultPath": "$.technicalReviewResult"
      },
      "UpdateTechnicalReviewState": {
        "Type": "Task",
        "Resource": "${story_state_handler_arn}",
        "Next": "TeamEstimate",
        "Parameters": {
          "status": "TECHNICAL_REVIEW_COMPLETE",
          "token.$": "$.token",
          "result.$": "$.technicalReviewResult"
        }
      },
      "TeamEstimate": {
        "Type": "Task",
        "Resource": "${team_estimate_lambda_arn}",
        "Next": "WaitForTeamEstimate",
        "ResultPath": "$.teamEstimate"
      },
      "WaitForTeamEstimate": {
        "Type": "Wait",
        "Next": "UpdateTeamEstimateState",
        "WaitForTaskToken": true,
        "ResultPath": "$.teamEstimateResult"
      },
      "UpdateTeamEstimateState": {
        "Type": "Task",
        "Resource": "${story_state_handler_arn}",
        "Next": "Complete",
        "Parameters": {
          "status": "TEAM_ESTIMATE_COMPLETE",
          "token.$": "$.token",
          "result.$": "$.teamEstimateResult"
        }
      },
      "Complete": {
        "Type": "Task",
        "Resource": "${workflow_signal_handler_arn}",
        "End": true,
        "Parameters": {
          "status": "COMPLETE",
          "result.$": "$"
        }
      }
    }
  }
  