infrastructure/terraform/modules/step_functions/workflow copy.json
{
    "Comment": "Story Refinement Workflow",
    "StartAt": "AnalyzeStory",
    "States": {
      "AnalyzeStory": {
        "Type": "Task",
        "Resource": "${analyze_story_arn}",
        "Next": "AnalyzeStoryWorker"
      },
      "AnalyzeStoryWorker": {
        "Type": "Task",
        "Resource": "${analyze_story_worker_arn}",
        "Next": "CheckAnalysisResult"
      },
      "CheckAnalysisResult": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.status",
            "StringEquals": "AGILE_COACH",
            "Next": "DisplayAnalysisResult" 
          }
        ],
        "Default": "ErrorState"
      },
      "DisplayAnalysisResult": {
        "Type": "Pass",
        "Result": "Analysis ready for user review.",
        "Next": "UserDecision"
      },
      "UserDecision": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.userDecision",
            "StringEquals": "SendToTechReview",
            "Next": "TechnicalReview"
          },
          {
            "Variable": "$.userDecision",
            "StringEquals": "Skip",
            "Next": "CompleteState"
          }
        ],
        "Default": "ErrorState"
      },
      "TechnicalReview": {
        "Type": "Task",
        "Resource": "${technical_review_arn}",
        "Next": "TechnicalReviewWorker"
      },
      "TechnicalReviewWorker": {
        "Type": "Task",
        "Resource": "${technical_review_worker_arn}",
        "Next": "UserTeamEstimateDecision"
      },
      "UserTeamEstimateDecision": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.userDecision",
            "StringEquals": "RequestTeamEstimate",
            "Next": "TeamEstimation"
          },
          {
            "Variable": "$.userDecision",
            "StringEquals": "Accept",
            "Next": "CompleteState"
          }
        ],
        "Default": "ErrorState"
      },
      "TeamEstimation": {
        "Type": "Task",
        "Resource": "${team_estimate_arn}",
        "Next": "TeamEstimationWorker"
      },
      "TeamEstimationWorker": {
        "Type": "Task",
        "Resource": "${team_estimate_worker_arn}",
        "Next": "FinalizeEstimates"
      },
      "FinalizeEstimates": {
        "Type": "Pass",
        "Result": "Estimates finalized and saved.",
        "Next": "CompleteState"
      },
      "CompleteState": {
        "Type": "Succeed"
      },
      "ErrorState": {
        "Type": "Fail",
        "Error": "WorkflowError",
        "Cause": "An error occurred in the workflow."
      }
    }
  }
  