infrastructure/terraform/modules/step_functions/workflow.json
{
    "Comment": "Story Refinement Workflow",
    "StartAt": "AnalyzeStoryWorker",
    "States": {
      "AnalyzeStoryWorker": {
        "Type": "Task",
        "Resource": "${analyze_story_worker_arn}",
        "Next": "SimulateAIProcessing"
      },
      "SimulateAIProcessing": {
        "Type": "Wait",
        "Seconds": 3,
        "Next": "NavigateToAgileReview"
      },
      "NavigateToAgileReview": {
        "Type": "Task",
        "Resource": "${workflow_signal_handler_arn}",
        "Parameters": {
          "action": "NAVIGATE_TO_AGILE",
          "story_id.$": "$.story_id",
          "token.$": "$.token"
        },
        "Next": "WaitForUserAction"
      },
      "WaitForUserAction": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
        "Parameters": {
          "FunctionName": "${workflow_signal_handler_arn}",
          "Payload": {
            "story_id.$": "$.story_id",
            "token.$": "$.token",
            "taskToken.$": "$$.Task.Token",
            "action": "WAIT_FOR_TECH_REVIEW_DECISION"
          }
        },
        "Next": "TechnicalReview"
      },
      "TechnicalReview": {
        "Type": "Task",
        "Resource": "${technical_review_arn}",
        "Next": "TechnicalReviewWorker",
        "ResultPath": "$.techReview",
        "Catch": [{
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ErrorState"
        }]
      },
      "TechnicalReviewWorker": {
        "Type": "Task",
        "Resource": "${technical_review_worker_arn}",
        "Next": "TeamEstimation",
        "ResultPath": "$.techReviewResult",
        "Catch": [{
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ErrorState"
        }]
      },
      "TeamEstimation": {
        "Type": "Task",
        "Resource": "${team_estimate_arn}",
        "Next": "TeamEstimationWorker",
        "ResultPath": "$.estimate",
        "Catch": [{
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ErrorState"
        }]
      },
      "TeamEstimationWorker": {
        "Type": "Task",
        "Resource": "${team_estimate_worker_arn}",
        "Next": "CompleteState",
        "ResultPath": "$.estimateResult",
        "Catch": [{
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "ErrorState"
        }]
      },
      "CompleteState": {
        "Type": "Succeed"
      },
      "ErrorState": {
        "Type": "Fail",
        "Error": "WorkflowError",
        "Cause": "$.error"
      }
    }
}
  